html{
  font-size: 62.5%;
}
body {
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}
header {
  grid-area: header;
  background-color: #203040;
}
header h1{
  color:#ffffff;
  text-align: center;
  padding: 0.1rem;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;

}
.child{
  width: 50rem;
  height: 50rem;
}
@media(max-width:998px){
  html{
    font-size: 55%;
  }
}
@media(max-width:768px){
  html{
    font-size: 45%;
  }
}